<!-- Mostrar errores -->

<form (submit)="enviarDatos()" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Rol</mat-label>
    <mat-select [(ngModel)]="selectedRolId" formControlName="idRol">
      <mat-option *ngFor="let rol of roles" [value]="rol">
        {{ rol.nombre }}
      </mat-option>
    </mat-select>
    <mat-error>Debe seleccionar un rol.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Compañia</mat-label>
    <mat-select [(ngModel)]="selectedCompaniaId" formControlName="idCompania">
      <mat-option *ngFor="let compania of companias" [value]="compania">
        {{ compania.nombre }}
      </mat-option>
    </mat-select>
    <mat-error>Debe seleccionar una compañia.</mat-error>
  </mat-form-field>
</form>
